{% extends "bankWebApp/base.html" %}
{%block content%}

<div id="register" class="animate form">
    <form  method="POST" autocomplete="on" class="form-horizontal">{% csrf_token %}
        <div class="form-group">

            {%for i in bank%}

            <input type="checkbox" name="bank_id" value="{{i.bank_id}}"><pre>{{i.bank_name}}    {{i.bank_ifsc}}    {{i.bank_city}}</pre><br>
            {% endfor %}

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="submit">
            </div>
        </div>
    </form>
</div>


{%endblock%}
